/* @media(max-width:800px){
.text-1{
    font-size: 13px;
}
.text-2{
    font-size: 11px;
}
.imag{
    width: 200px;
    height: 400px;
}
header h1{
    font-size: 26px;
}
} */
@media(max-width:800px){
    main{
        display: block;
        position: relative;
    }
    .imag{
        width: 100% !important;
        border: none;
        height: 400px;
        border-radius: 0;
        opacity: 0.33;
        position: absolute;
    }
    .text{
        width: 100% !important;
        margin-top: 20px;
        color: white;
        position: relative;
        z-index: 9;
    }
    button{
        background: #801336;
    }
    .text-2{
        font-size: 14px;
    }
    .text-1{
        font-size: 16px;
    }
}
@media(max-width:380px){
    header h1{
        margin: 30px 0px 0px 5px;
        transition: all 0.2s;
    }
}